In [4]:
import pandas as pd
import numpy as np
import lightgbm as ltb
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import dask.dataframe as dd
import time

In [5]:
t1 = time.time()

INPUT = '../../01_Preparation/Data/featured_train.h5'
OUTPUT_FEATS = 'features.npy'
OUTPUT = '../Data/prepared_train.h5'

# Read merged data for sampling
data = pd.read_hdf(INPUT, key='featured_train')

In [6]:
data.head(5)

,CUSTOMER_ID,OK_13M,OK_15M,BRANDFAMILY_ID,Midcategory,R_0,CAL_DATE_0,CAL_DATE_end_0,SI_ITG_WSE_0,SI_MRKT_WSE_0,...,CUE_sum,VISIT_mean,VISIT_var,VISIT_std,VISIT_sum,SEASON,SEASON_WINTER,SEASON_SPRING,SEASON_SUMMER,SEASON_AUTUMN
0,46010526,1,1,BF234104,Blond,8,2017-12-21,2017-12-31,5176.0,2674944.0,...,0,0.2,0.2,0.447214,1,0,1,0,0,0
1,12000436,1,1,BF241151,Ryo,16,2018-10-01,2018-10-09,229.0,145428.0,...,0,0.6,1.8,1.341641,3,3,0,0,0,1
2,29002391,1,1,BF231048,Blond,62,2019-06-20,2019-06-30,9956.0,7663012.0,...,0,2.2,12.2,3.492850,11,2,0,0,1,0
3,15000011,1,1,BF231048,Blond,23,2018-05-23,2018-05-31,1086.0,3115019.0,...,0,0.2,0.2,0.447214,1,2,0,0,1,0
4,34000125,1,1,BF241066,Ryo,30,2018-09-01,2018-09-10,900.0,1498169.0,...,0,0.4,0.3,0.547723,2,3,0,0,0,1

In [7]:
date_cols = []
for field in data.columns.values:
    element = field.lower()
    if 'fecha' in element or 'date' in element:
        date_cols.append(field)

In [8]:
date_cols

['CAL_DATE_0',
 'CAL_DATE_end_0',
 'CAL_DATE_1',
 'CAL_DATE_end_1',
 'CAL_DATE_2',
 'CAL_DATE_end_2',
 'CAL_DATE_3',
 'CAL_DATE_end_3',
 'CAL_DATE_4',
 'CAL_DATE_end_4',
 'CAL_DATE_5',
 'CAL_DATE_end_5']

In [11]:
cols = []
for field in data.columns.values:
        element = field.lower()
        if ('so_' in element) or ('si' in element and '5' in element) \
        or ('sellout' in element and '_5' not in element) or ('sellin' in element and '5' in element) \
        or 'fecha' in element or 'date' in element:
            cols.append(field)

In [12]:
cols

['CAL_DATE_0',
 'CAL_DATE_end_0',
 'SO_ITG_WSE_0',
 'SO_MRKT_WSE_0',
 'CAL_DATE_1',
 'CAL_DATE_end_1',
 'SO_ITG_WSE_1',
 'SO_MRKT_WSE_1',
 'CAL_DATE_2',
 'CAL_DATE_end_2',
 'SO_ITG_WSE_2',
 'SO_MRKT_WSE_2',
 'CAL_DATE_3',
 'CAL_DATE_end_3',
 'SO_ITG_WSE_3',
 'SO_MRKT_WSE_3',
 'CAL_DATE_4',
 'CAL_DATE_end_4',
 'SO_ITG_WSE_4',
 'SO_MRKT_WSE_4',
 'CAL_DATE_5',
 'CAL_DATE_end_5',
 'SI_ITG_WSE_5',
 'SI_MRKT_WSE_5',
 'SO_ITG_WSE_5',
 'SO_MRKT_WSE_5',
 'VISIBILIDAD_5',
 'VISIBILIDAD_ESP_5',
 'VISIT_5',
 'QUOTA_SELLOUT_0',
 'QUOTA_SELLOUT_1',
 'QUOTA_SELLOUT_2',
 'QUOTA_SELLOUT_3',
 'QUOTA_SELLOUT_4',
 'QUOTA_SELLIN_5']